
{%load static%}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="{% static 'css/style.css'%}">
    <title>Library Management</title>
  </head>
  <body class ="d-flex justify-content-center align-items-center">
   
    <section class="vh-100" style="background-color: #9A616D;">
        <div class="container py-5 h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-xl-10">
              <div class="card" style="border-radius: 1rem;">
                <div class="row g-0">
                  <div class="col-md-6 col-lg-5 d-none d-md-block">
                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/img1.webp"
                      alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;" />
                  </div>
                  <div class="col-md-6 col-lg-7 d-flex align-items-center">
                    <div class="card-body p-4 p-lg-5 text-black">
      
                      <form id="loginForm">
      
                        <div class="d-flex align-items-center mb-3 pb-1">
                          <i class="fas fa-cubes fa-2x me-3" style="color: #ff6219;"></i>
                          <span class="h1 fw-bold mb-0">Logo</span>
                        </div>
      
                        <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Sign into your account</h5>
                        

                        
                        <div id="loginMessage">
          
                        </div>   



                        <div class="form-outline mb-4">
                          <input type="email" id="loginEmail" class="form-control form-control-lg" />
                          <label class="form-label" for="loginEmail">Email address</label>
                        </div>
      
                        <div class="form-outline mb-4">
                          <input type="password" id="loginPassword" class="form-control form-control-lg" />
                          <label class="form-label" for="loginPassword">Password</label>
                        </div>
      
                        <div class="pt-1 mb-4">
                          <button class="btn btn-dark btn-lg btn-block" id= "loginButton" type="button">Login</button>
                        </div>
      
                        
                        <p class="mb-5 pb-lg-2" style="color: #393f81;">Don't have an account? <a href="/register"
                            style="color: #393f81;">Register here</a></p>
                     
                      </form>
      
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>

    <script>

        $("#loginButton").click(function () {
            $.ajax({
        
                url: 'http://localhost:8000/api/v1/user/login',
        
                type: 'POST',
        
                dataType: 'json',
                data:{
                    email:$('#loginEmail').val(),
                    password:$('#loginPassword').val()
                },
                success: function (data, textStatus, xhr) {
                    console.log(data.message);
                    
                    $('#loginMessage').html("<p  style='color: green;'>"+data.message+"</p>");
                    
                    $.cookie('jwt', "JWT "+data.token);
                    $.cookie('isAdmin',data.isAdmin);
                    console.log("JWT");
                    console.log($.cookie('jwt'));
                    console.log(data.isAdmin);
                    if(data.isAdmin){
                      window.location.href="http://localhost:8000/book/create-update";
                    }
                    else{
                      window.location.href="http://localhost:8000/book/list";
                    }
            
                  },
                  
        
                error: function (xhr, textStatus, errorThrown) {
                    console.log(xhr.responseText)
                    var jsonResponse = JSON.parse(xhr.responseText);
                  
                    if(xhr.status==400 || xhr.status==404){
                      $('#loginMessage').html("<p  style='color: red;'>"+jsonResponse.error+"</p>");
                    }
                    else if(xhr.status==500){
                      $('#loginMessage').html("<p  style='color: red;'>"+jsonResponse.message+"</p>");
                    }
                   else if (errorThrown){
                    $('#loginMessage').html("<p  style='color: red;'>"+errorThrown+"</p>");
                   }
                    

        
                }
        
            });
        
        });
   
    
   </script>
  </body>
</html>

